# Node dependencies
node_modules/

# Env files
.env
.env.local

# Logs
*.log
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# Expo / React Native
.expo/
dist/
web-build/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
.metro-health-check*
/ios
/android

# Optional example app folder s
app-example
